NODE_ENV=development
PORT=3000

DATABASE_URL=postgresql://cobrapy:cobrapy@localhost:5432/cobrapy?schema=public

REDIS_HOST=localhost
REDIS_PORT=6379

JWT_SECRET=change-me-in-production-use-openssl-rand-base64-32
API_KEY_PEPPER=change-me-too
ADMIN_TOKEN=local-dev-admin-token-change-me

SIP_API_BASE_URL=https://sandbox.sip.bcp.gov.py
SIP_PARTICIPANT_ID=mock-participant-id
SIP_CLIENT_CERT_PATH=./certs/client.pem
SIP_CLIENT_KEY_PATH=./certs/client.key

WEBHOOK_SIGNING_SECRET=change-me-three
